@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');
@font-face {
    font-family: "title";
    src: url("../fontes/league-gothic.otf");
}

@font-face {
    font-family: "corpo";
    src: url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
}

@font-face {
    font-family: "poppins";
    src: url("../fontes/Poppins-Regular.ttf");
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    color: rgb(82, 82, 82);
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

p {
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    color: rgb(82, 82, 82);
    margin-bottom: 1px;
    text-align: justify;
}

.conteudo .global {
    width: 80%;
    text-align: justify;
    margin: 4px auto 70px 6.5%;
    background-color: rgb(255, 255, 255);
    padding: 40px 40px 1px 40px;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 32px;
    max-width: 90%;
}

.nome {
    margin-left: 25%;
    transition: 0.5s;
    width: (100% - 250px);
}

.nome p {
    color: #000;
    margin-top: 12%;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
}

.texto {
    width: 70%;
    text-align: justify;
}

.btns .btn2 {
    border-radius: 32px;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
    font-size: 14px;
    padding: 21px 35px 35px 32px;
    cursor: pointer;
    font-weight: bold;
    border-width: 0;
    margin: -70% 1px 5% 38%;
    width: 250px;
    height: 15px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-weight: bolder;
}

.btns .btn-color1 {
    background-color: #F1F0F0;
    border: 1px solid rgb(94, 94, 94);
    transition: .5s;
}

.btns .btn-color1:hover {
    background-color: #8a99a1;
    border: 1px solid #8a99a1;
    color: rgb(238, 238, 238);
}