@font-face {
    font-family: "title";
    src: url("../fontes/league-gothic.otf");
}

@font-face {
    font-family: "corpo";
    src: url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
}

@font-face {
    font-family: "poppins";
    src: url("../fonte/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: none;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
}

#menu ul {
    padding: 13px;
    margin: 0px;
    background-color: #2b314e;
    list-style: none;
    text-align: right;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    font: 85% arial;
    letter-spacing: 0.5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    margin: 0px 25px;
    border: 1px solid #fff;
    border-radius: 13px;
}

#menu ul li a:hover {
    background-color: #f5f5f5;
    color: #181a16;
    box-shadow: 0 1px 2px #f5f5f5;
    border: 1px solid #f5f5f5;
}

.btn-1 {
    transition: .5s;
}

body {
    /*background-image: url('../imagens/inicial/design4.png');*/
    /*background-size: 100% 50%;*/
    background-repeat: no-repeat;
}

.parte1 {
    background-color: #2b314e;
    margin: 50px auto 2px auto;
    padding: 11% 20px 6% 20px;
}

.parte1 .textpri {
    font-family: "title";
    font-size: 520%;
    text-decoration: none;
    line-height: 85%;
    letter-spacing: 1px;
    /*espaçamento letras*/
    /*margem*/
    margin: auto 10% 3% 8%;
}

.parte1 .textsegundo {
    font: normal 130% arial;
    line-height: 130%;
    /*espaçamento linhas*/
    letter-spacing: 2px;
    /*espaçamento letras*/
    /*margem*/
    margin: auto 10% 3% 8%;
    font-family: 'poppins', sans-serif;
}

.btnn {
    text-align: center;
    margin-top: 50px;
}

.efeito {
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Segoe UI';
    letter-spacing: 1px;
    line-height: 24px;
    border-radius: 32px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    margin: 25px auto auto 40%;
    padding: 20px 80px 20px 85px;
    font-weight: bold;
}

.efeito-1 {
    background-color: #8a99a1;
}

.efeito-1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    transition: all 1s ease;
}

.efeito-1:hover:before {
    width: 100%;
}

.servicos {
    padding: 60px 20px 20px 20px;
    text-align: center;
}

.servicos h3 {
    font-family: 'Poppins-Regular', sans-serif;
    color: #2b314e;
    font-size: 27px;
    padding-bottom: 13px;
}

.servicos p {
    font-family: 'Poppins-Regular', sans-serif;
    color: rgb(80, 78, 78);
    font-size: 17px;
    padding-bottom: 26px;
    padding-left: 26%;
    padding-right: 26%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 5.5%;
    background: #f5f5f5;
}

.container .box {
    font-family: 'Poppins-Regular', sans-serif;
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    color: #000;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.container .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #747ca3;
    background: #747ca3;
}

.container .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #747ca3;
}

.container .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #ABBBC4;
    background: #ABBBC4;
}

.container .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #ABBBC4;
}

.container .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #cccccc;
    background: #cccccc;
}

.container .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #cccccc;
}

.container .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container .box:hover .content {
    color: #fff;
}

.container .box .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    color: rgb(48, 48, 48);
}

.container .box .content p {
    margin: 0;
    padding: 0;
}

h4 {
    font: normal 130% arial;
    color: #000;
    line-height: 130%;
    /*espaçamento linhas*/
    letter-spacing: 1px;
    /*espaçamento letras*/
    /*margem*/
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%
}

h5 {
    font: normal 90% arial;
    color: #000;
    line-height: 130%;
    /*espaçamento linhas*/
    letter-spacing: 1px;
    /*espaçamento letras*/
    /*margem*/
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%
}

footer {
    font-family: 'Poppins-Regular', arial;
    color: #f5f5f5;
    padding: 16px;
    margin: 0px;
    position: static;
    bottom: 0;
    width: 97.6%;
    background-color: #374258;
    list-style: none;
    text-align: center;
    font-size: 14px;
}