@font-face {
    font-family: "poppins";
    src: url("../fontes/Poppins-Regular.ttf");
}

.nome {
    margin-left: 6%;
    transition: 0.5s;
    width: (100% - 250px);
}

.nome p {
    color: #000;
    margin-top: 4%;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
}

#check:checked~.nome {
    margin-left: 12%;
    margin-top: -1%;
}


/* DOCUMENTÁRIOS */

.post-slider {
    position: relative;
    font-family: 'poppins', sans-serif;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 75%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 500px;
    height: 500px;
    margin: 0px 10px;
    display: inline-block;
    background: lightgrey;
    border-radius: 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
    max-height: 400px;
    padding: 0px 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-wrapper a:hover {
    color: lightseagreen;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* 1 - SERIES */

.post-slider1 {
    position: relative;
    font-family: 'poppins', sans-serif;
}

.post-slider1 .next1 {
    position: absolute;
    top: 50%;
    right: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider1 .prev1 {
    position: absolute;
    top: 50%;
    left: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider1 .post-wrapper1 {
    width: 75%;
    height: 320px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider1 .post-wrapper1 .post1 {
    width: 300px;
    height: 400px;
    margin: 0px 10px;
    display: inline-block;
    background: lightgrey;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1 rem;
}

.post-slider1 .post-wrapper1 .post1 .slider-image1 {
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider1 .post-wrapper1 .post1 .post-info1 {
    max-height: 20px;
    padding: 0px 5px;
}

.page-wrapper1 a:hover {
    color: lightseagreen;
}


/* 2 - FILMES */

.post-slider2 {
    position: relative;
    font-family: 'poppins', sans-serif;
}

.post-slider2 .next2 {
    position: absolute;
    top: 50%;
    right: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider2 .prev2 {
    position: absolute;
    top: 50%;
    left: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider2 .post-wrapper2 {
    width: 75%;
    height: 320px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider2 .post-wrapper2 .post2 {
    width: 300px;
    height: 315px;
    margin: 0px 10px;
    display: inline-block;
    background: lightgrey;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1 rem;
}

.post-slider2 .post-wrapper2 .post2 .slider-image2 {
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider2 .post-wrapper2 .post2 .post-info2 {
    height: 75px;
    padding: 0px 5px;
}

.page-wrapper2 a:hover {
    color: lightseagreen;
}


/* 3 - LIVROS */

.post-slider3 {
    position: relative;
    font-family: 'poppins', sans-serif;
}

.post-slider3 .next3 {
    position: absolute;
    top: 50%;
    right: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider3 .prev3 {
    position: absolute;
    top: 50%;
    left: 110px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.post-slider3 .post-wrapper3 {
    width: 75%;
    height: 320px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider3 .post-wrapper3 .post3 {
    width: 300px;
    height: 315px;
    margin: 0px 10px;
    display: inline-block;
    background: lightgrey;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1 rem;
}

.post-slider3 .post-wrapper3 .post3 .slider-image3 {
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider3 .post-wrapper3 .post3 .post-info3 {
    height: 75px;
    padding: 0px 5px;
}

.page-wrapper3 a:hover {
    color: lightseagreen;
}

.blog-card {
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .3);
}

.blog-card .inner-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 360px;
}

.inner-part .img {
    height: 260px;
    width: 260px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252, 56, 56, .3);
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .6s;
}

.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
}

.content span {
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.content .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text {
    font-size: 19px;
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.content button {
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 40px;
    border: 1px solid #fd3535;
    cursor: pointer;
    outline: none;
    background: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.content button:hover {
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}

.blog-card {
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .3);
}

.blog-card .inner-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 360px;
}

.inner-part .img {
    height: 260px;
    width: 260px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252, 56, 56, .3);
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .6s;
}

.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
}

.content span {
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.content .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text {
    font-size: 19px;
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.content button {
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 40px;
    border: 1px solid #fd3535;
    cursor: pointer;
    outline: none;
    background: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.content button:hover {
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}